// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};
$base-color: #{"@borders"};

$bar-height: 22px;


window.Bar {
    background: transparent;
    color: $fg-color;
    margin: 0px;

    >centerbox {
        background: transparent;
        margin: 0px;
    }

    .module_group {
        background: #181926;
        border-radius: 20px;
        font-size: $bar-height;
        margin-top: 7px;
        margin-bottom: 0px;
        margin-left: 7px;
        margin-right: 7px;

    }

    button {
        background: transparent;
        padding: 0px 10px;
        min-height: $bar-height;
        min-width: $bar-height;
    }
}